@model FlightReservation.Models.Route

<h1>Yeni Güzergah Ekle</h1>

<form asp-action="Create">
    <div class="form-group">
        <label for="Name">Güzergah:</label>
        <input type="text" class="form-control" id="Name" name="Name">
    </div>
    <!-- Diğer güzergah alanları buraya eklenir -->
    <button type="submit" class="btn btn-primary">Ekle</button>
</form>

<a asp-action="Index">Geri Dön</a>

